body {
    font-family: "Trebuchet MS", sans-serif;
    background-color: #0b0b0b;
    color: #e0d7f5;
    margin: 0;
}

header {
    background-color: #29004a;
    color: #e7c6ff;
    padding: 1px;
    text-align: center;
}

nav {
    background-color: #7a00cc;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #f2e6ff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
}

nav a:hover {
    background-color: #e7c6ff;
    color: #29004a;
    border-radius: 5px;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #1a001f;
}

th,
td {
    border: 1px solid #b366ff;
    padding: 8px;
    text-align: center;
    color: #f2e6ff;
}

th {
    background-color: #7a00cc;
    color: #ffffff;
}

footer {
    background-color: #29004a;
    color: #f2e6ff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

footer a {
    color: #cba6f7;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}